_SourceControl/ServerExchange/Alt.Bet/Service References/BalanceServiceReference/BalanceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/BalanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" />
  <xs:element name="GetCurrentUserAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="GetCurrentUserAssetsResult" nillable="true" type="q1:UserAssets" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>