_SourceControl/ServerExchange/Alt.Bet/Service References/PaymentServiceReference/PaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SkrillStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="failed_reason_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mb_amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mb_currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="md5sig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="merchant_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pay_from_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pay_to_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transaction_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkrillStatus" nillable="true" type="tns:SkrillStatus" />
  <xs:complexType name="SkrillAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkrillAnswer" nillable="true" type="tns:SkrillAnswer" />
  <xs:complexType name="SkrillOutRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkrillOutRequest" nillable="true" type="tns:SkrillOutRequest" />
  <xs:complexType name="SkrillOutResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkrillAnswer" nillable="true" type="tns:SkrillAnswer" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_msg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkrillOutResponse" nillable="true" type="tns:SkrillOutResponse" />
  <xs:complexType name="SkrillInRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkrillInRequest" nillable="true" type="tns:SkrillInRequest" />
</xs:schema>