_SourceControl/ServerExchange/Alt.Bet/Service References/PaymentServiceReference/PaymentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.NetellerModels" />
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/PaymentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" />
  <xs:element name="NetellerOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.NetellerModels" minOccurs="0" name="model" nillable="true" type="q1:TransferOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetellerOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.NetellerModels" minOccurs="0" name="NetellerOutResult" nillable="true" type="q2:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetellerIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.NetellerModels" minOccurs="0" name="model" nillable="true" type="q3:TransferIn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NetellerInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.NetellerModels" minOccurs="0" name="NetellerInResult" nillable="true" type="q4:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="model" nillable="true" type="q5:SkrillStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="SkrillStatusResult" nillable="true" type="q6:SkrillAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="model" nillable="true" type="q7:SkrillOutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="SkrillOutResult" nillable="true" type="q8:SkrillOutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="model" nillable="true" type="q9:SkrillInRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="SkrillInResult" nillable="true" type="q10:SkrillAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillOtherIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="model" nillable="true" type="q11:SkrillInRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillOtherInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AltBet.Model.Finances.SkrillModels" minOccurs="0" name="SkrillOtherInResult" nillable="true" type="q12:SkrillAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillCancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkrillCancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SkrillCancelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="addOrGet" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeBalanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="systemtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="direction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="transactId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameFromTransactId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameFromTransactIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsernameFromTransactIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>