_SourceControl/ServerExchange/Alt.Bet/Service References/MailSettingsServiceReference/MailSettingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MailSettingsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/MailSettingsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/MailSettingsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/MailSettingsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AltBet.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMailSettingsManager_MailChimpSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpSubscribe" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_MailChimpSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_MailChimpUnsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpUnsubscribe" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_MailChimpUnsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpUnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_MailChimpSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpSettings" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_MailChimpSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:MailChimpSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_GetLinkForForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkForForm" />
  </wsdl:message>
  <wsdl:message name="IMailSettingsManager_GetLinkForForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkForFormResponse" />
  </wsdl:message>
  <wsdl:portType name="IMailSettingsManager">
    <wsdl:operation name="MailChimpSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpSubscribe" message="tns:IMailSettingsManager_MailChimpSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpSubscribeResponse" message="tns:IMailSettingsManager_MailChimpSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MailChimpUnsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpUnsubscribe" message="tns:IMailSettingsManager_MailChimpUnsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpUnsubscribeResponse" message="tns:IMailSettingsManager_MailChimpUnsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MailChimpSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpSettings" message="tns:IMailSettingsManager_MailChimpSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailSettingsManager/MailChimpSettingsResponse" message="tns:IMailSettingsManager_MailChimpSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkForForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailSettingsManager/GetLinkForForm" message="tns:IMailSettingsManager_GetLinkForForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailSettingsManager/GetLinkForFormResponse" message="tns:IMailSettingsManager_GetLinkForForm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMailSettingsManager" type="tns:IMailSettingsManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MailChimpSubscribe">
      <soap:operation soapAction="http://tempuri.org/IMailSettingsManager/MailChimpSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailChimpUnsubscribe">
      <soap:operation soapAction="http://tempuri.org/IMailSettingsManager/MailChimpUnsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MailChimpSettings">
      <soap:operation soapAction="http://tempuri.org/IMailSettingsManager/MailChimpSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkForForm">
      <soap:operation soapAction="http://tempuri.org/IMailSettingsManager/GetLinkForForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailSettingsService">
    <wsdl:port name="BasicHttpBinding_IMailSettingsManager" binding="tns:BasicHttpBinding_IMailSettingsManager">
      <soap:address location="http://localhost/AltBet.ExchangeServices/Services/MailSettingsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>