_SourceControl/ServerExchange/Alt.Bet/Service References/OrderServiceReference/OrderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AltBet.Exchange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetOrdersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reflection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="tns:Symbol" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrdersRequest" nillable="true" type="tns:GetOrdersRequest" />
  <xs:complexType name="Symbol">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AwayAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwayHandicap" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AwayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AwayPoints" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CategoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeHandicap" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HomeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePoints" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastAsk" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastBid" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastSide" nillable="true" type="tns:Side" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceChangeDirection" type="xs:int" />
      <xs:element minOccurs="0" name="ResultExchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettlementDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SortingData" nillable="true" type="tns:ArrayOfExchangeSortData" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusEvent" />
      <xs:element minOccurs="0" name="StatusEvent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeEvent" type="tns:TypeEvent" />
      <xs:element minOccurs="0" name="UrlExchange" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Symbol" nillable="true" type="tns:Symbol" />
  <xs:simpleType name="Side">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Side" nillable="true" type="tns:Side" />
  <xs:complexType name="ArrayOfExchangeSortData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExchangeSortData" nillable="true" type="tns:ExchangeSortData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExchangeSortData" nillable="true" type="tns:ArrayOfExchangeSortData" />
  <xs:complexType name="ExchangeSortData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeSortData" nillable="true" type="tns:ExchangeSortData" />
  <xs:simpleType name="StatusEvent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Settlement" />
      <xs:enumeration value="Suspended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEvent" nillable="true" type="tns:StatusEvent" />
  <xs:simpleType name="TypeEvent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Short">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Full">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TypeEvent" nillable="true" type="tns:TypeEvent" />
  <xs:complexType name="GetOrdersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveOrders" nillable="true" type="tns:ArrayOfActiveOrder" />
      <xs:element minOccurs="0" name="Ticks" nillable="true" type="tns:ArrayOfTick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrdersResponse" nillable="true" type="tns:GetOrdersResponse" />
  <xs:complexType name="ArrayOfActiveOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveOrder" nillable="true" type="tns:ActiveOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveOrder" nillable="true" type="tns:ArrayOfActiveOrder" />
  <xs:complexType name="ActiveOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
      <xs:element minOccurs="0" name="SummaryPositionPrice" nillable="true" type="tns:ArrayOfSummaryPositionPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveOrder" nillable="true" type="tns:ActiveOrder" />
  <xs:complexType name="ArrayOfSummaryPositionPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SummaryPositionPrice" nillable="true" type="tns:SummaryPositionPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSummaryPositionPrice" nillable="true" type="tns:ArrayOfSummaryPositionPrice" />
  <xs:complexType name="SummaryPositionPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParticularUserQuantity" type="xs:long" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SummaryPositionPrice" nillable="true" type="tns:SummaryPositionPrice" />
  <xs:complexType name="ArrayOfTick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tick" nillable="true" type="tns:Tick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTick" nillable="true" type="tns:ArrayOfTick" />
  <xs:complexType name="Tick">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ask" type="xs:decimal" />
      <xs:element minOccurs="0" name="AskSize" type="xs:long" />
      <xs:element minOccurs="0" name="Bid" type="xs:decimal" />
      <xs:element minOccurs="0" name="BidSize" type="xs:long" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Side" type="xs:boolean" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="tns:Symbol" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Volume" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tick" nillable="true" type="tns:Tick" />
  <xs:complexType name="GetOrdersOrPositionsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrdersOrPositionsRequest" nillable="true" type="tns:GetOrdersOrPositionsRequest" />
  <xs:complexType name="OrdersPositionsHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="HistoryTradeItems" nillable="true" type="tns:ArrayOfHistoryTradeItem" />
      <xs:element minOccurs="0" name="OrdersOrPositions" nillable="true" type="tns:ArrayOfOrderOrPosition" />
      <xs:element minOccurs="0" name="Positions" nillable="true" type="tns:ArrayOfGroupPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdersPositionsHistory" nillable="true" type="tns:OrdersPositionsHistory" />
  <xs:complexType name="ArrayOfHistoryTradeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistoryTradeItem" nillable="true" type="tns:HistoryTradeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistoryTradeItem" nillable="true" type="tns:ArrayOfHistoryTradeItem" />
  <xs:complexType name="HistoryTradeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fees" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsMaker" type="xs:int" />
      <xs:element minOccurs="0" name="IsMirror" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:long" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="tns:Symbol" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryTradeItem" nillable="true" type="tns:HistoryTradeItem" />
  <xs:complexType name="ArrayOfOrderOrPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderOrPosition" nillable="true" type="tns:OrderOrPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderOrPosition" nillable="true" type="tns:ArrayOfOrderOrPosition" />
  <xs:complexType name="OrderOrPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="tns:Symbol" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Volume" type="xs:long" />
      <xs:element minOccurs="0" name="isMirror" type="xs:int" />
      <xs:element minOccurs="0" name="isPosition" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderOrPosition" nillable="true" type="tns:OrderOrPosition" />
  <xs:complexType name="ArrayOfGroupPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupPosition" nillable="true" type="tns:GroupPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupPosition" nillable="true" type="tns:ArrayOfGroupPosition" />
  <xs:complexType name="GroupPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonSymbolProfitLoss" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommonSymbolVolume" type="xs:long" />
      <xs:element minOccurs="0" name="SubPositions" nillable="true" type="tns:ArrayOfSubPosition" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="tns:Symbol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupPosition" nillable="true" type="tns:GroupPosition" />
  <xs:complexType name="ArrayOfSubPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubPosition" nillable="true" type="tns:SubPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubPosition" nillable="true" type="tns:ArrayOfSubPosition" />
  <xs:complexType name="SubPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvgPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommonProfitLoss" type="xs:decimal" />
      <xs:element minOccurs="0" name="CommonVolume" type="xs:long" />
      <xs:element minOccurs="0" name="EventHandicap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsMirror" type="xs:int" />
      <xs:element minOccurs="0" name="Side" type="tns:Side" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubPosition" nillable="true" type="tns:SubPosition" />
  <xs:complexType name="ArrayOfCurrentOrders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentOrders" nillable="true" type="tns:CurrentOrders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrentOrders" nillable="true" type="tns:ArrayOfCurrentOrders" />
  <xs:complexType name="CurrentOrders">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastSide" nillable="true" type="tns:Side" />
      <xs:element minOccurs="0" name="Orders" nillable="true" type="tns:ArrayOfOrderOrPosition" />
      <xs:element minOccurs="0" name="Positions" type="xs:long" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentOrders" nillable="true" type="tns:CurrentOrders" />
</xs:schema>