_SourceControl/ServerExchange/Alt.Bet/Service References/ExchangeServiceReference/ExchangeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" />
  <xs:element name="GetAllSymbolsAndOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSymbolsAndOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="GetAllSymbolsAndOrdersResult" nillable="true" type="q1:ArrayOfAllSymbolsAndOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchanges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="GetExchangesResult" nillable="true" type="q2:ArrayOfAdminExchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="request" nillable="true" type="q3:AddExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateExchangeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="request" nillable="true" type="q4:EditExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditExchangeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exchange" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExchangeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="request" nillable="true" type="q5:StatusExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseExchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="request" nillable="true" type="q6:CloseExchangeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseExchangeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolAndOrdersByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="request" nillable="true" type="q7:GetSymbolsAndOrdersByUrlRequest" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSymbolAndOrdersByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="GetSymbolAndOrdersByUrlResult" nillable="true" type="q8:AllSymbolsAndOrders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortExchanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="status" nillable="true" type="q9:StatusEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSortExchangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="GetSortExchangesResult" nillable="true" type="q10:ArrayOfAdminExchange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsOnPage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsOnPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemsOnPageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>