_SourceControl/ServerExchange/Alt.Bet.Admin/Service References/CategoryServiceReference/CategoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AltBet.Exchange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet/Services/WCF/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CategoryRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />

      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" type="ser:guid" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryRequest" nillable="true" type="tns:CategoryRequest" />
  <xs:complexType name="ArrayOfCategoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryItem" nillable="true" type="tns:CategoryItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryItem" nillable="true" type="tns:ArrayOfCategoryItem" />
  <xs:complexType name="CategoryItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CatIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatId" type="ser:guid" />
      <xs:element minOccurs="0" name="CatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatParentId" type="ser:guid" />
      <xs:element minOccurs="0" name="CatPosition" type="xs:int" />
      <xs:element minOccurs="0" name="CatUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatUrlChain" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryItem" nillable="true" type="tns:CategoryItem" />
</xs:schema>