_SourceControl/ServerExchange/Alt.Bet.Admin/Service References/CategoryServiceReference/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICategoryManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AltBet/Services/WCF/CategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AltBet/Services/WCF/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AltBet/Services/WCF/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryManager_CreateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_CreateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_EditCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_EditCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_MoveCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_MoveCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetAllCategoryItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoryItem" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetAllCategoryItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoryItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByUrl" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryByUrlChain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByUrlChain" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryByUrlChain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByUrlChainResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="ICategoryManager_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryManager">
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/CreateCategory" message="tns:ICategoryManager_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/CreateCategoryResponse" message="tns:ICategoryManager_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/EditCategory" message="tns:ICategoryManager_EditCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/EditCategoryResponse" message="tns:ICategoryManager_EditCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/DeleteCategory" message="tns:ICategoryManager_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/DeleteCategoryResponse" message="tns:ICategoryManager_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/MoveCategory" message="tns:ICategoryManager_MoveCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/MoveCategoryResponse" message="tns:ICategoryManager_MoveCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategoryItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetAllCategoryItem" message="tns:ICategoryManager_GetAllCategoryItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetAllCategoryItemResponse" message="tns:ICategoryManager_GetAllCategoryItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryByUrl" message="tns:ICategoryManager_GetCategoryByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryByUrlResponse" message="tns:ICategoryManager_GetCategoryByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrlChain">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryByUrlChain" message="tns:ICategoryManager_GetCategoryByUrlChain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryByUrlChainResponse" message="tns:ICategoryManager_GetCategoryByUrlChain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryById" message="tns:ICategoryManager_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryManager/GetCategoryByIdResponse" message="tns:ICategoryManager_GetCategoryById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryManager" type="tns:ICategoryManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/EditCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/MoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategoryItem">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetAllCategoryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrl">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrlChain">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryByUrlChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICategoryManager" type="tns:ICategoryManager">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICategoryManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/EditCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/MoveCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategoryItem">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetAllCategoryItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrl">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryByUrlChain">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryByUrlChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/ICategoryManager/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="BasicHttpBinding_ICategoryManager" binding="tns:BasicHttpBinding_ICategoryManager">
      <soap:address location="http://localhost/AltBet/Services/WCF/CategoryService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICategoryManager" binding="tns:BasicHttpsBinding_ICategoryManager">
      <soap:address location="https://win-3okndn5oehm/AltBet/Services/WCF/CategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>