_SourceControl/ServerExchange/Alt.Bet/Service References/FileServiceReference/FileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/FileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Web" />
  <xs:import schemaLocation="http://localhost/AltBet.ExchangeServices/Services/FileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" />
  <xs:element name="SaveImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web" minOccurs="0" name="file" nillable="true" type="q1:HttpPostedFileBase" />
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="SaveImageResult" nillable="true" type="q2:UploadedImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteImageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dirPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="urlTemplate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsersImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AltBet.Exchange" minOccurs="0" name="UsersImagesResult" nillable="true" type="q3:ArrayOfUploadedImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>