_SourceControl/ServerExchange/Alt.Bet/Service References/FileServiceReference/FileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AltBet.Exchange" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AltBet.Exchange" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadedImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadedImageInfo" nillable="true" type="tns:UploadedImageInfo" />
  <xs:complexType name="ArrayOfUploadedImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UploadedImageInfo" nillable="true" type="tns:UploadedImageInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUploadedImageInfo" nillable="true" type="tns:ArrayOfUploadedImageInfo" />
</xs:schema>