_SourceControl/ServerExchange/Alt.Bet/Service References/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AltBet.ExchangeServices.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AltBet.ExchangeServices.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Registration">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConfirmationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Registration" nillable="true" type="tns:Registration" />
  <xs:complexType name="ResultEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntity" nillable="true" type="tns:ResultEntity" />
  <xs:complexType name="Authorization">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResultEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bettor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Trade" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Authorization" nillable="true" type="tns:Authorization" />
</xs:schema>